
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width:1360px;
    border-color: white;
    padding: 24px 120px;
    margin-top: 0px;
    padding-top: 0px;
    
}
ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
li:hover{
    background-color: #30B868;
    color:white;
    scale: 1.3;
    padding: 5px;
    border-radius: 5px;
}
li{
    font-size: 16px;
    font-weight: 500;
}
.but{
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color:#469165;
    border: none;
}
.but:hover{
    background-color: red;
    cursor: pointer;
}
.hero-poing{
    max-width: 1600px;
    background: url(assets/hero-bg.png);
}
.secnd{
    
    text-align: center;
    padding-top: 166px;
    padding-bottom: 179px;
}
.access{
    background-color: red;


}
.im{
    background-color:white;
    padding: 8px 12px;
    border: none;
    font-size: 16px;
    color: #469165;
    border-radius: 30px;
}
.im:hover{
    background-color: red;
    cursor: pointer;
    color: white;
}
.secnd h1{
    font-size: 72px;
    font-weight: bold;
    margin: 0;
    color: white;
}
.secnd p{
    font-size: 18px;
    line-height: 24px;
    color: white;

}
.cut{
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    color: white;
    border: none;
}
.cut:hover{
    background-color: red;
    cursor: pointer;
}
.rut{
    padding: 16px;
    font-size: 16px;
    font-weight: 600; 
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    margin-left: 16px;
}
.rut:hover{
    background-color: red;
    cursor: pointer;
}
.scendline{
    color: #30B868;
}
.secend-section{
     max-width: 1600px;
     margin-top: 40px;
}
.card{
    display: flex;
    margin: 0 auto;
    max-width: 1360px;
    margin-top: 44px;
    text-align: center;
    gap: 24px;
}
.card-id{
    padding: 69px 24px;
    background-color: white;
    box-shadow: 4px -4px 15px rgba( 0, 0, 0, 0.25);
    border-radius: 10px;
}
.card-id h3{
    font-size: 24px;
    font-weight: 700;
}
.card-id p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.card-id img{
    background-color: #F95555;
    padding: 14px;
    border-radius: 50%;
}
.secend-cont{
    text-align: center;
}
.secend-cont h2{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}
.secend-cont p{
    font-size: 16px;
    color: #627382;
    margin: 0;
    padding-top: 16px;
}
.all-content{
    display: flex;
    max-width: 1360px;
    gap: 60px;
    margin: 0 auto;
    margin-top: 120px;
}
.thard-scetion{
     max-width: 1600px;
    

}
.tard-content h6{
    font-size: 16px;
    margin: 0px;
    color: #627382;
}
.tard-content h2{
    font-size: 48px;
    margin: 0px;
    font-weight: bold;
    max-width: 600px;
}
.tard-content{
    margin-top: 102px;
}
.tard-content p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    max-width: 600px;
}
.list{
    list-style-image: url(assets/CheckCircle.png);
    line-height: 30px;
    margin-top: 40px;
}

.last-section{
    max-width:1360px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 10px;
    padding-bottom: 80px;

}
.last{
    max-width: 1600px;
}
.last-section h2{
    font-size: 40px;
    padding-top: 80px;

}
.last-section p{
    font-size: 16px;
    color: #627382;
    
}
.fonter-content{
    display: flex;
    justify-content: space-between;
    padding: 120px;
}
footer{
    max-width:1600px;
    background-color: #001931;
    margin-top: 120px;
    
}
.socil-png h2{
    font-size: 20px;
    color: white;
    font-weight: 500;
}
.socil-png img{
    background-color: white;
    padding: 16px;
    margin-right: 16px;
    border-radius: 50%;
}
.copy-right{
    color: white;
    text-align: center;
    margin-top: 110px;
    padding-bottom: 30px;
    font-size: 16px;
}